
/DiscordBotForm/DiscordBotForm/obj
/DiscordBotForm/DiscordBotForm/bin
DiscordBotForm/DiscordBotForm/config.json
DiscordBotForm/DiscordBotForm/BirthDays.txt
/DiscordBotForm/.vs
DiscordBotForm/DiscordBotForm/ConsoleApp8.exe
/DiscordBotForm/DiscordBotForm/Bot
DiscordBotForm/.editorconfig
